.container {
  padding: 0 2rem;
  background-image: linear-gradient(to right top, #7758c2, #7a78ce, #8795d5, #9eafd8, #bec8d8);
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
}

.footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.title {
  font-size: 6rem;
  font-family: 'Ms Madi', cursive;
  text-align: center;
  margin-top: 0;
}

.topResources {
  display: flex;
  justify-content: space-around;
}