.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
}

.footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.title {
  font-size: 4rem;
}

.title {
  text-align: center;
}